@font-face {
    font-family: "Neue Machina Light";
    src: url("/src/assets/fonts/NeueMachina-Light.otf");
}

@font-face {
    font-family: "Neue Machina Regular";
    src: url("/src/assets/fonts/NeueMachina-Regular.otf");
}

@font-face {
    font-family: "Neue Machina UltraBold";
    src: url("/src/assets/fonts/NeueMachina-UltraBold.otf");
}

@mixin screentemplate {
     padding: {
        top: 82px;
        bottom: 82px;
        left: 80px;
        right: 80px;
    }

    margin: {
        left: 40px;
        right: 43px;
    }

    border-radius: 30px;
    margin-bottom: 40px;
}

$block-width: 1340px;

body {
    overflow-x: hidden;
    background: linear-gradient(180deg, #4F5BD5 0%, #962FBF 30.73%, #D62976 57.58%, #FA7E1E 82.81%, #FEDA75 100%);
    font: {
            family: 'Neue Machina UltraBold';
    }

    width: 100%;
    margin: 0;

    .app {
        display: flex;
        flex-direction: column;
        align-items: center;

        .screen {
            box-sizing: border-box;
            margin-bottom: 99px;
        
            &1 {
                position: relative;

                height: 100vh;

                display: flex;
                align-items: center;
                justify-content: left;
                margin-left: 50px;

                &__title {
                    line-height: 1;
                    letter-spacing: 0.015em;
                    text-align: left;
                    color: white;
                    white-space: nowrap;
                    font: {
                        family: 'Neue Machina UltraBold';
                        weight: 800;
                        size: 140px;
                        style: normal;
                    }

                    animation: title-slide 10s infinite;
                }

                &__finger {
                    position: absolute;
                    width: 100%;
                    bottom: 0;

                    display: flex;
                    justify-content: center;

                    svg {
                        animation: finger 1.5s infinite;
                    }
                }
            }

            &2 {
                @include screentemplate;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                width: $block-width;

                min-height: 450px;
                background-color: black;

                color: white;

                &__text {
                    &-main {
                        font-size: 58px;
                        line-height: 66px;
                        text-align: center;
                    }

                    &-secondary {
                        font-size: 40px;
                        line-height: 52px;

                    }
                }
            }

            &3 {
                display:block;
                position: relative;
                
                width: $block-width;
                height: 540px;

                margin: {
                    left: 40px;
                    right: 43px;
                }

                &__text {
                    overflow-y: scroll;
                    max-height: 100%;

                    &::-webkit-scrollbar {
                        width: 0;
                    }
                    scrollbar-width: 0;

                    div {
                        font-size: 40px;
                        line-height: 52px;
                        color: white;

                        &:first-child {
                            margin-top: 100%;
                        }
                    }
                }

                .eyes {
                    position: absolute;
                    bottom: 0;
                    right: 0;

                    transition-property: opacity;
                    transition-duration: 0.3s;
                    
                    &-opened,
                    &-closed {
                        position: absolute;
                        bottom: 0;
                        right: 0;

                        transition-property: opacity;
                        transition-duration: 0.3s;
                    }

                    &-opened {
                        opacity: 1;
                    }

                    &-closed {
                        opacity: 0;
                    }

                    &:hover {
                        .eyes-opened {
                            opacity: 0;
                        }

                        .eyes-closed {
                            opacity: 1;
                        }
                    }
                }
            }

            &4 {
                @include screentemplate;

                display: flex; 
                flex-direction: row;
                justify-content: center;
                align-items: center;
                flex-basis: 50%;
                flex-grow: 1;
                
                width: $block-width;

                background-color: white;

                &__info {
                    margin-right: 80px;
                    &__text {
                        margin-bottom: 20px;

                        &-header {
                            font-size: 40px;
                            line-height: 52px;
                            text-transform: uppercase;
                        }
                        
                        &-subheader {
                            font-size: 24px;
                            line-height: 30px;
                        }

                        &-list {
                            font-size: 19px;
                            line-height: 26px;
                            margin-bottom: 40px;

                            ul {
                                margin: 0;
                                padding-left: 0;
                                li {
                                    &::marker{
                                        font-size: 1.2em;
                                    }
                                }
                                
                            }
                        }
                    }

                    &__btn {
                        background-color: black;
                        color: white;
                        display: block;
                        box-sizing: border-box;
                        cursor: pointer;

                        font-size: 24px;
                        line-height: 30px;

                        text-align: center;
                        padding: {
                            top: 10px;
                            bottom: 10px;
                        }
                        border-radius: 99px;
                    }
                }
            }

            &5 {
                @include screentemplate;
                
                display: flex; 
                flex-direction: row;
                justify-content: center;
                align-items: center;

                width: $block-width;

                background-color: white;

                &__info {
                    margin-right: 80px;
                    &__text {
                        margin-bottom: 20px;

                        &-header {
                            font-size: 40px;
                            line-height: 52px;
                            text-transform: uppercase;
                        }
                        
                        &-subheader {
                            font-size: 24px;
                            line-height: 30px;
                            margin-bottom: 40px;
                        }
                    }

                    &__btn {
                        background-color: black;
                        color: white;
                        display: block;
                        box-sizing: border-box;

                        cursor: pointer;

                        font-size: 24px;
                        line-height: 30px;

                        text-align: center;
                        padding: {
                            top: 10px;
                            bottom: 10px;
                        }
                        border-radius: 99px;
                        flex-grow: 1;
                        margin-right: 30px;

                        &-container {
                            display: flex;
                            justify-content: space-between;
                            align-content: center;
                        }
                    }

                    &__gif {
                        width: 55px;
                        height: 55px;
                        background:  url("/src/assets/images/duck.png") no-repeat;
                    }
                }
            }
        }

        .footer {
            @include screentemplate;
            box-sizing: border-box;
            background-color: black;
            color: white;
            min-height: 786px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            &-info {
                &-title {
                    font-size: 46px;
                    line-height: 120%;
                    text-transform: uppercase;
                    letter-spacing: 0.015em;
                    display: flex;
                    justify-content: space-between;
                    margin-bottom: 70px;
                }

                &-links {
                    font-size: 28px;
                    line-height: 40px;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;

                    a {
                        &,
                        &:visited {
                            display: block;
                            text-decoration: none;
                            border-bottom: 1px solid white;
                            color: white;
                            cursor: pointer;
                            padding: {
                                top: 6px;
                                bottom: 6px;
                            }
                        }
                    }
                }
            }

            &-caption {
                position: relative;
                &-important {
                    font-size: 40px;
                    line-height: 52px;
                    text-transform: uppercase;
                }

                &-condition {
                    font-size: 19px;
                    line-height: 26px;
                }

                &-logo {
                    position: absolute;
                    right: 0;
                    bottom: 0;
                    background: url("/src/assets/images/logo.svg") no-repeat;
                    width: 174px;
                    height: 31px;
                }
            }
        }
    }
}

@keyframes title-slide {
    0% {
        transform: translate(-27%);
    }
    50% {
        transform: translate(27%);
    }
    100% {
        transform: translate(-27%);
    }
}

$finger-step: 40px;
@keyframes finger {
    0% {
        transform:  translateY(-$finger-step);
        opacity: 1;
    }  
    20% {
        transform:  translateY(-$finger-step);
        opacity: 1;
    }
    50% {
        transform: translateY(0);
        opacity: 0.7;
    }
    80% {
        transform: translateY(-$finger-step);
        opacity: 1;
    }
    100% {
        transform: translateY(-$finger-step);
        opacity: 1;
    }
}